
.carousel-inner {
    display: inline-flex;
    position: relative;
  }

  .carousel-indicators li {
    visibility: hidden;
  }

  .carousel-inner .item img {
    margin: auto;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  * {
    font-family: 'Poppins', sans-serif;
  }

  .carousel {
    margin: auto;
    width: 100vh;
    height: auto;
    margin-bottom: 7rem;
    background-color: rgb(75, 75, 75);
    overflow: hidden;
    margin-top: 5%;
  }

  .btn-primary {
    background-color: #20b2aa;
  }

  .card-img-top, .card-img-bot {
    height: 310px;
    width: 600px;
    
  }

  .card {
    margin-bottom: 2rem;
  }


  #myCarousel {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

.cards {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2rem;
  background-color: #20b2aa;
}

#scroll-btn {
  position: fixed;
  bottom: 15px;
  right: 10px;
  color: rgb(255, 255, 255);
  background-color: black;
  border: black;
  border-radius: 1em;
  border-width: 10px !important;
  padding: 20px 10px;
  transition: padding 0.5s;
}

#scroll-btn:hover {
  padding-left: 40px;
  color: white
}

.container {
  margin-top: 2.5%;
}