:root {
    --bgcolor: #242582;
}

* {
    margin: 0;
    padding: 0;
 }

 .page-header {
    background-color: #fefefe;
    padding: 1.3rem;
    display: flex;
    justify-content: flex-end;
}

.nav-bar a   {
    color: rgb(0, 0, 0);
    padding: 1.3rem;
    cursor: pointer;
}
.nav-bar a.active {
    background-color: #12B1C1;
}
