@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #000000;
    border-bottom: 4px solid #12B1C1;
    position: fixed;
    width: 100%;
    
    height: 150px;
}
header img {
    height: 125px;
    margin-left: 20px;
    padding: 5px;
    background-color:#FFF;
    border: 4px solid #12B1C1;
    border-radius: 15px;
}
.nav-bar {
    list-style-type: none;
    overflow: hidden;
}
ul {
    margin-top: -80px;
    padding: 0 50px;
    text-align: right;
    list-style-type: none;
}
.somet img {
    height: 40px;
    border: 0px;
    border-radius: 0px;
    background-color:#000000;
    margin-top: -100px !important; 
    display:inline-block;
    position: inherit;
}
li {
    color: #12B1C1;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
}
li a {
    display: block;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;

}
li a:hover, a:active{
    background-color: #12B1C1;
} 
a:link, a:visited {
    color: white;
}
.tietoa img {
    height: 300px;
    float: left;
    margin-left: 40px;
    border-radius: 15px;
}
.tietoa {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    top: 200px;
    
}
.tietoa-teksti {
    padding: 5px 20px;

    margin-left: 20%;
    height: 400px;
    width: 800px;
    border: 4px solid #12B1C1;
}
footer {
    position: relative;
    text-align: center;
    top: 400px;
    border-top: 4px solid #12B1C1;
    padding: 10px;
}